<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AppUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="MyAppender" />
            <appender-ref ref="RollingFileAppender" />
        </root>
        <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level %logger - %message%newline" />
            </layout>
        </appender>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
          <file value="logfile.log" />
          <appendToFile value="true" />
          <rollingStyle value="Size" />
          <maxSizeRollBackups value="5" />
          <maximumFileSize value="10MB" />
          <staticLogFileName value="true" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
          </layout>
        </appender>
    </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="statesPath" value="{AppDir}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <AppUI.Properties.Settings>
      <setting name="numOfBackups" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="backupDestinationDir" serializeAs="String">
        <value>C:\Users\Jure Baban\Documents\backupTest\dest</value>
      </setting>
      <setting name="sourceDir1" serializeAs="String">
        <value>C:\Users\Jure Baban\Documents\backupTest\FirstSource</value>
      </setting>
      <setting name="sourceDir2" serializeAs="String">
        <value>C:\Users\Jure Baban\Documents\backupTest\SecondSource</value>
      </setting>
      <setting name="sourceDir3" serializeAs="String">
        <value />
      </setting>
      <setting name="numOfSources" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="scheduler1" serializeAs="String">
        <value>15,45 * * * * ?</value>
      </setting>
      <setting name="scheduler2" serializeAs="String">
        <value>0,30 * * * * ?</value>
      </setting>
      <setting name="scheduler3" serializeAs="String">
        <value />
      </setting>
      <setting name="continueBackupOnError" serializeAs="String">
        <value>True</value>
      </setting>
    </AppUI.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>